<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>
<section class="section text-center" *ngIf="!isLoaded">
  Loading...
</section>
<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <ek-add-event [categories]="categories"></ek-add-event>
    </div>
    <div class="col-md-6">
      <ek-add-category (onCategoryAdd)="newCategoryAdded($event)"></ek-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ek-edit-category [categories]="categories"
                        (onCategoryEdit)="categoryWasEdited($event)"
      ></ek-edit-category>
    </div>
  </div>
</section>
