<div class="title-block">
  <h3 class="title pull-left">
    Страница счета <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline">
      <i class="fa fa-refresh"
      (click)="onRefresh()"
      ></i>
    </button>
  </div>
</div>
<section class="section">
  <div class="row" *ngIf="!isLoaded">
    <ek-loader></ek-loader>
  </div>
  <div class="row" *ngIf="isLoaded">
    <ek-bill-card [bill]="bill" [currency]="currency"></ek-bill-card>
    <ek-currency-card [currency]="currency"></ek-currency-card>
  </div>
</section>
